@using Telerik.Web.Mvc.UI
@using System.Collections.Generic
@using BExIS.Modules.FMT.UI.Models

@model List<FMTMenuItem>

@{
    if (ViewBag.UseLayout == null)
    {
        Layout = null;
    }
}
<div>
 
    <div style="display:inline-block;width:20%;vertical-align: top;" class="overlay">

        @Html.ValidationMessage("Error")<br />
        @if (Model == null)
        {
           
        }
        else
        {
            @Html.Telerik().TreeView().Name("TreeView").ShowCheckBox(false).ExpandAll(true).ClientEvents(events => events
                                                       .OnSelect("onSelect")
                                                      ).BindTo(Model, mappings =>
                                    {
                                        mappings.For<FMTMenuItem>
                                        (binding => binding.ItemDataBound((item, menuItem) =>
                                        {
                                            item.Text = menuItem.Title;
                                            item.Value = menuItem.Path;
                                            item.ImageUrl = menuItem.MenuItems.Any() ? "~/Areas/FMT/Images/FMT_Images/Folders.png" : "~/Areas/FMT/Images/FMT_Images/Folder.png";
                                        })
                                            .Children(category => category.MenuItems));
                                        mappings.For<FMTMenuItem>
                                        (binding => binding
                                        .ItemDataBound((item, subMenuItem) =>
                                        {
                                            item.Text = subMenuItem.Title;
                                            item.Value = subMenuItem.Path;
                                            item.ImageUrl = subMenuItem.MenuItems.Any() ? "~/Areas/FMT/Images/FMT_Images/Folders.png" : "~/Areas/FMT/Images/FMT_Images/Folder.png";
                                        }));
                                    });


        }

    </div>
    
    <div style="display:inline-block;width:80%;vertical-align: top;">
        <div style="width:100%" id="FMTFilesDIV"></div>
        <div style="width:100%" id="FMTFileUpload">

        </div>
    </div>
</div>
<script type="text/javascript">

    function treeView() {
        return $('#TreeView').data('tTreeView');
    }

    SelectedValue = '';


    function onSelect(e) {
        var val = treeView().getItemValue(e.item);
        SelectedValue = val;
        loadFilesAndUploader();
    }
    function loadFilesAndUploader() {
        val = SelectedValue;
        alert(val);
        contr = "InfoPage";
        $.get('@Url.Action("GetFileLists", "InfoPage", new { area=""})', { menuItemPath: val }, function (data) {
            $('#FMTFilesDIV').html(data);
        });
        $.get('@Url.Action("GetFileUploader", "InfoPageAdmin", new { area = "" })', { menuItemPath: val, cont: contr }, function (data) {
            $('#FMTFileUpload').html(data);
        });
    }
</script>