@using Telerik.Web.Mvc.UI
@using BExIS.Modules.FMT.UI.Models

@using (Html.BeginForm("SubmitFile", "BaseAdminFileManagement", new { area = "FMT", enctype = "multipart/form-data" }, FormMethod.Post))
{
<b>Upload File:</b><span id="">@ViewBag.FilePath</span>
    <input type="hidden" name="filePath" id="filePath" value="@ViewBag.FilePath"/>
  @(Html.Telerik().Upload()
                                .Name("SelectFileUploaders")
                                .Multiple(true)
                                .ShowFileList(true)
                                .HtmlAttributes(new {title="Browse"})
                                )
    
    <button type="submit">Submit</button>

}