@using Telerik.Web.Mvc.UI
@using BExIS.Modules.FMT.UI.Models

@using (Html.BeginForm("SubmitFile", "BaseAdminFileManagement", new { area = "FMT", enctype = "multipart/form-data" }, FormMethod.Post))
{
    <b>Upload File:</b><span id="">@ViewBag.FilePath</span>
    <input type="hidden" name="filePath" id="filePath" value="@ViewBag.FilePath" />
  
    @(Html.Telerik().Upload()
                                                .Name("SelectFileUploaders")
                                                .Multiple(true)
                                                .ShowFileList(true)
                                                .HtmlAttributes(new { title = "Browse" })
                                                .ClientEvents(events => events
                                                .OnSelect("selected")
                                                .OnRemove("remove")                      
                                                )
                                                
    )

    <button id="submit" type="submit" style="display:none;">Submit</button>
    <script type="text/javascript">
        function selected() {
            jQuery("#submit").show();
        }

        function remove() {
            if (jQuery(".t-delete").length == 1) {
                jQuery("#submit").hide();
            }
        }

    </script>
}